<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.web.FileTran.dao.TagTypesMapper">
  <resultMap id="BaseResultMap" type="com.web.FileTran.pojo.po.TagTypes">
    <id column="Tag_Type_Id" jdbcType="INTEGER" property="tagTypeId" />
    <result column="Tag_Type_Name" jdbcType="VARCHAR" property="tagTypeName" />
  </resultMap>
  <sql id="Base_Column_List">
    Tag_Type_Id, Tag_Type_Name
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from Tag_Types
    where Tag_Type_Id = #{tagTypeId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from Tag_Types
    where Tag_Type_Id = #{tagTypeId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.web.FileTran.pojo.po.TagTypes">
    insert into Tag_Types (Tag_Type_Id, Tag_Type_Name)
    values (#{tagTypeId,jdbcType=INTEGER}, #{tagTypeName,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.web.FileTran.pojo.po.TagTypes">
    insert into Tag_Types
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="tagTypeId != null">
        Tag_Type_Id,
      </if>
      <if test="tagTypeName != null">
        Tag_Type_Name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="tagTypeId != null">
        #{tagTypeId,jdbcType=INTEGER},
      </if>
      <if test="tagTypeName != null">
        #{tagTypeName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.web.FileTran.pojo.po.TagTypes">
    update Tag_Types
    <set>
      <if test="tagTypeName != null">
        Tag_Type_Name = #{tagTypeName,jdbcType=VARCHAR},
      </if>
    </set>
    where Tag_Type_Id = #{tagTypeId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.web.FileTran.pojo.po.TagTypes">
    update Tag_Types
    set Tag_Type_Name = #{tagTypeName,jdbcType=VARCHAR}
    where Tag_Type_Id = #{tagTypeId,jdbcType=INTEGER}
  </update>
</mapper>