<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.web.FileTran.newdaogenerated.usersMapper">
  <resultMap id="BaseResultMap" type="com.web.FileTran.newpojo.users">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="username" jdbcType="VARCHAR" property="username" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="registration_date" jdbcType="TIMESTAMP" property="registrationDate" />
    <result column="user_directory_id" jdbcType="INTEGER" property="userDirectoryId" />
    <result column="favorites_folder_id" jdbcType="INTEGER" property="favoritesFolderId" />
    <result column="quota_limit" jdbcType="INTEGER" property="quotaLimit" />
  </resultMap>
  <sql id="Base_Column_List">
    id, username, password, registration_date, user_directory_id, favorites_folder_id, 
    quota_limit
  </sql>

    <!-- 调用 RegisterUser 存储过程 -->
    <insert id="registerUser" parameterType="java.util.Map">
      {CALL RegisterUser(#{userName}, #{userPassword}, #{userId, mode=OUT, jdbcType=INTEGER})}
    </insert>

    <!-- 调用 DeleteUser 存储过程 -->
    <delete id="deleteUser" parameterType="long">
      {CALL DeleteUser(#{userId})}
    </delete>

    <!-- 调用 RenameUser 存储过程 -->
    <select id="renameUser" parameterType="java.util.Map" resultType="java.util.HashMap">
      {CALL RenameUser(#{userId}, #{newUserName}, #{success, mode=OUT, jdbcType=BOOLEAN})}
    </select>

    <!-- 调用 ChangeUserPassword 存储过程 -->
    <select id="changeUserPassword" parameterType="java.util.Map" resultType="java.util.HashMap">
      {CALL ChangeUserPassword(#{userId}, #{newUserPassword}, #{success, mode=OUT, jdbcType=BOOLEAN})}
    </select>

    <!-- 用户登录验证 -->
    <select id="getUserInfoByUsername" parameterType="String" resultType="com.web.FileTran.newpojo.users">
      SELECT *
      FROM users
      WHERE username = #{username}
    </select>

    <!-- 查询用户信息 -->
    <select id="getUserInfoById" parameterType="long" resultType="com.web.FileTran.newpojo.users">
      SELECT *
      FROM users
      WHERE id = #{id}
    </select>
</mapper>