<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dao.Blob_UsageMapper">
  <resultMap id="BaseResultMap" type="pojo.Blob_UsageKey">
    <id column="Blob" jdbcType="INTEGER" property="blob" />
    <id column="Usage_As_FileContent" jdbcType="INTEGER" property="usageAsFilecontent" />
    <id column="Usage_As_FileIcon" jdbcType="INTEGER" property="usageAsFileicon" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="pojo.Blob_UsageKey">
    delete from Blob_Usage
    where Blob = #{blob,jdbcType=INTEGER}
      and Usage_As_FileContent = #{usageAsFilecontent,jdbcType=INTEGER}
      and Usage_As_FileIcon = #{usageAsFileicon,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="pojo.Blob_UsageKey">
    insert into Blob_Usage (Blob, Usage_As_FileContent, Usage_As_FileIcon
      )
    values (#{blob,jdbcType=INTEGER}, #{usageAsFilecontent,jdbcType=INTEGER}, #{usageAsFileicon,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="pojo.Blob_UsageKey">
    insert into Blob_Usage
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="blob != null">
        Blob,
      </if>
      <if test="usageAsFilecontent != null">
        Usage_As_FileContent,
      </if>
      <if test="usageAsFileicon != null">
        Usage_As_FileIcon,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="blob != null">
        #{blob,jdbcType=INTEGER},
      </if>
      <if test="usageAsFilecontent != null">
        #{usageAsFilecontent,jdbcType=INTEGER},
      </if>
      <if test="usageAsFileicon != null">
        #{usageAsFileicon,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
</mapper>