<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dao.Files_FilesMapper">
  <resultMap id="BaseResultMap" type="pojo.Files_FilesKey">
    <id column="Parent" jdbcType="INTEGER" property="parent" />
    <id column="SubFile" jdbcType="INTEGER" property="subfile" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="pojo.Files_FilesKey">
    delete from Files_Files
    where Parent = #{parent,jdbcType=INTEGER}
      and SubFile = #{subfile,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="pojo.Files_FilesKey">
    insert into Files_Files (Parent, SubFile)
    values (#{parent,jdbcType=INTEGER}, #{subfile,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="pojo.Files_FilesKey">
    insert into Files_Files
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="parent != null">
        Parent,
      </if>
      <if test="subfile != null">
        SubFile,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="parent != null">
        #{parent,jdbcType=INTEGER},
      </if>
      <if test="subfile != null">
        #{subfile,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
</mapper>