<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dao.Files_TagsMapper">
  <resultMap id="BaseResultMap" type="pojo.Files_TagsKey">
    <id column="File" jdbcType="INTEGER" property="file" />
    <id column="Tag" jdbcType="INTEGER" property="tag" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="pojo.Files_TagsKey">
    delete from Files_Tags
    where File = #{file,jdbcType=INTEGER}
      and Tag = #{tag,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="pojo.Files_TagsKey">
    insert into Files_Tags (File, Tag)
    values (#{file,jdbcType=INTEGER}, #{tag,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="pojo.Files_TagsKey">
    insert into Files_Tags
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="file != null">
        File,
      </if>
      <if test="tag != null">
        Tag,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="file != null">
        #{file,jdbcType=INTEGER},
      </if>
      <if test="tag != null">
        #{tag,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
</mapper>