<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dao.TagsMapper">
  <resultMap id="BaseResultMap" type="pojo.Tags">
    <id column="Tag_Id" jdbcType="INTEGER" property="tagId" />
    <result column="Tag_Name" jdbcType="VARCHAR" property="tagName" />
    <result column="Tag_Type" jdbcType="INTEGER" property="tagType" />
  </resultMap>
  <sql id="Base_Column_List">
    Tag_Id, Tag_Name, Tag_Type
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from Tags
    where Tag_Id = #{tagId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from Tags
    where Tag_Id = #{tagId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="pojo.Tags">
    insert into Tags (Tag_Id, Tag_Name, Tag_Type
      )
    values (#{tagId,jdbcType=INTEGER}, #{tagName,jdbcType=VARCHAR}, #{tagType,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="pojo.Tags">
    insert into Tags
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="tagId != null">
        Tag_Id,
      </if>
      <if test="tagName != null">
        Tag_Name,
      </if>
      <if test="tagType != null">
        Tag_Type,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="tagId != null">
        #{tagId,jdbcType=INTEGER},
      </if>
      <if test="tagName != null">
        #{tagName,jdbcType=VARCHAR},
      </if>
      <if test="tagType != null">
        #{tagType,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="pojo.Tags">
    update Tags
    <set>
      <if test="tagName != null">
        Tag_Name = #{tagName,jdbcType=VARCHAR},
      </if>
      <if test="tagType != null">
        Tag_Type = #{tagType,jdbcType=INTEGER},
      </if>
    </set>
    where Tag_Id = #{tagId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="pojo.Tags">
    update Tags
    set Tag_Name = #{tagName,jdbcType=VARCHAR},
      Tag_Type = #{tagType,jdbcType=INTEGER}
    where Tag_Id = #{tagId,jdbcType=INTEGER}
  </update>
</mapper>